.sliderbanner-container .sliderbanner-wrapper {
    max-width: unset;
    padding: 0;
  }
  
  .sliderbanner {
    position: relative;
    padding: 40px 24px;
    min-height: 300px;
  }
  
  .sliderbanner h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: var(--background-color);
  }
  
  .sliderbanner picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }
  
  .sliderbanner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  @media (width >= 900px) {
    .sliderbanner {
      padding: 40px 32px;
    }
  }

  .sliderbanner-container .sliderbanner-wrapper {
    max-width: unset;
    padding: 30px 30px;
    position: relative;
    z-index: 1;
    background-color: blue;
  }
 
  .sliderbanner {
    position: relative;
    z-index: -1;
    padding: 40px 24px;
    min-height: 300px;
  }
 
  .sliderbanner h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: var(--background-color);
  }
 
  .sliderbanner picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }
 
  .sliderbanner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
 
  @media (width >= 900px) {
    .sliderbanner {
      padding: 40px 32px;
    }
  }


  