footer {
  background-color: #000;
  font-size: var(--body-font-size-xs);
  color: #fff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}
.wkndtxt {
  display: inline-block;
}
.wkndtxt p {
  font-size: 45px;
  font-weight: bold;
}
.wkndheadtxt {
  display: inline-block;
  position: relative;
  top: -20px;
  margin-left: 40px;
}
.wkndheadtxt ul {
  width: 20%;
  float: left;
}
.wkndheadtxt ul {
  padding: 0;
}
.wkndheadtxt li {
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}
.wkndpara p {
  font-size: 12px;
  display: inline-block;
  list-style: none;
  padding: 10px;
  line-height: 22px;
}
.veniatxt {
  display: inline-block;
}
.veniatxt p {
  font-size: 45px;
  font-weight: bold;
}
.veniaheadtxt {
  display: inline-block;
  position: relative;
  top: -20px;
  margin-left: 0px;
  width: 20%;
}
.veniaheadtxt ul {
  width: auto;
  float: left;
}
.veniaheadtxt ul {
  padding: 0;
}
.veniaheadtxt li {
  font-size: 14px;
  font-weight: normal;
  display: block;
  list-style: none;
  padding: 0 20px;
  line-height: 30px;
}
.veniapara p {
  font-size: 12px;
  display: inline-block;
  list-style: none;
  padding: 10px;
  line-height: 22px;
}
@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
.veniause {
  display: inline-block;
  position: relative;
  top: 0px;
  margin-left: 0px;
  width: 100%;
}
.veniause ul {
  width: 100%;
  float: left;
}
.veniause ul {
  padding: 0;
}
.veniause li {
  font-size: 14px;
  font-weight: normal;
  display: block;
  list-style: none;
  padding: 0 20px;
  line-height: 30px;
  display:inline-block;
}

.veniause li:first-child {
  font-size: 34px;
  font-weight: bold;
  width: 15%;
  text-align: right;
  position: relative;
  top: 5px;
}
.veniause li:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
  width: 44%;
  text-align: center;
}
.veniause li:nth-child(3),
.veniause li:nth-child(4)  {
  font-size: 14px;
  font-weight: normal;
  width: 8%;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .wkndheadtxt ul {
    width: 100%;
    float: left;
  }
  .wkndheadtxt li {
    text-align: center;
  }
  .veniaheadtxt {
    display: inline-block;
    position: relative;
    top: -20px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .veniaheadtxt {
    display: inline-block;
    position: relative;
    top: -20px;
    margin-left: 0px;
    width: 100%;
  }
  .veniaheadtxt ul {
    width: 100%;
    float: left;
}
.veniause li:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  text-align: center;
}
.veniause li:first-child {
  font-size: 34px;
  font-weight: bold;
  width: 90%;
  text-align: center;
  position: relative;
  top: 5px;
}
.veniause li:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
  width: 85%;
  text-align: center;
  margin: 10px;
  line-height: 22px;
}
.veniause li:nth-child(3), .veniause li:nth-child(4) {
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  padding: 0;
  text-align: center;
}
}