footer {
  background-color: #000;
  font-size: var(--body-font-size-xs);
  color: #fff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}
.veniatxt {
  display: inline-block;
}
.veniatxt p {
  font-size: 45px;
  font-weight: bold;
}
.veniaheadtxt {
  display: inline-block;
  position: relative;
  top: -20px;
  margin-left: 40px;
}
.veniaheadtxt ul {
  width: 20%;
  float: left;
}
.veniaheadtxt ul {
  padding: 0;
}
.veniaheadtxt li {
  font-size: 13px;
  font-weight: bold;
  display: block;
  list-style: none;
  padding: 0 20px;
}
.veniapara p {
  font-size: 12px;
  display: inline-block;
  list-style: none;
  padding: 10px;
  line-height: 22px;
}
@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
